<!DOCTYPE HTML>
<HTML>
  <head>
    <title>Search Results</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/dangeru.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.min.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <script src="/static/common.js"></script>
    <%= erb :multiview_helper %>
    <script>
      var ol = function ol() {
        multiview_ol();
        <%= mobile_js %>
      }
    </script>
  </head>
  <body onLoad='ol();'>
    <a href="../../"><img src="/static/logo.png" alt="danger/u/" class="header-unbound"></a>
    <br />
    <div id="maincontainer">
      <div class="title">Search results</div>
      <%# We're actually left joining the table `posts` on itself here to get the title of the OP the comment is replying to, if there is one %>
      <span id="hover" class="comment" style="display: none"></span>
      <% ress.each do |res| %>
        <%= erb :multiview, :locals => {:board => res[:board], :res => res, :moderator => is_moderator(res[:board], session)} %>
      <% end %>
    </div>
    <%= erb :pagecounter, :locals => {:count => count, :page_url_generator => page_url_generator, :page => page, :path => "all"} %>
    </div>
    <footer class="comment-styled">
      <%= Config.get["footer"] %>, <a href="https://github.com/dangeru/awoo/" class="footer">Awoo <%= settings.awoo_version %></a>
    </footer>
  </body>
</HTML>

