<!DOCTYPE HTML>
<html>
  <head>
    <title>Awoo - YOU ARE BANNED</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="static/dangeru.css">
    <link rel="shortcut icon" href="static/favicon.ico">
  </head>

  <body>
    <div id="sitecorner">
      <a href="/"><img src="/static/logo.png"></a>
      <div id="title" style="text-align: center;">You are BANNED</div>
      <img src="/static/banned.jpg" alt="banned">
      <div class="comment" style="text-align: center;">
        <% banned_from = "/#{Sanitize.clean(info["board"])}/" %>
        <% banned_from = "ALL BOARDS" if info["board"] == "all" %>
        You are banned from <span class="redtext"><%= banned_from %></span>,
        <br />
        With reason: <span class="redtext"><%= Sanitize.clean(info["reason"])%></span>
        <br />
        Estimated time of unban: <span class="redtext"><%= Sanitize.clean(info["date_of_unban"])%></span>
      </div>
    </div>
    <footer class="comment" style="font-size: xx-small; text-align: center;">
      <%= config["footer"] %>, <a href="https://github.com/dangeru/awoo/" style="font-size: x-small;">Awoo <%= settings.awoo_version %></a>
    </footer>
  </body>
</html>
