<!DOCTYPE HTML>
<html>
  <head>
    <title>/<%= settings.config['boards'][path]['name'] %>/ - <%= settings.config['boards'][path]['desc'] %></title>
    <style>
    #draggable {
      width: 320px;
      height: auto;
      padding: 0.5em;
      background-color: black;
      border: 1px solid /* black */ white;
      display: none;
      text-align: center;
      color: white;
    }
    textarea {
      resize: none;
      width: 90%;
      height: 130px;
    }
    #hover {
      position: fixed;
      background-color: rgba(255, 255, 255, 0.6);
      font-size: 70%;
      border-radius: 4px;
      padding: 4px;
      color: black;
      z-index: 10;
    }
    </style>
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/jquery-ui.min.js"></script>

    <script>
      var newThread = function newThread() {
        document.getElementById("draggable").style.display = "block";
        $( "#draggable" ).draggable({containment: "window"});
      }
      var ol = function ol() {
        document.getElementById("comment").addEventListener("keyup", function() {
          var comment = document.getElementById("comment");
          console.log(comment.value.length);
          var len = comment.value.length
          var wc = document.getElementById("wordcount");
          wc.style.color = len > 500 ? "red" : "inherit";
          wc.innerText = len + "/500";
        });
        Array.prototype.slice.call(document.getElementsByClassName("fa"), 0).forEach(function(elem) {
          elem.onmousemove = function(e) { move(e) }; // SHOULDN'T NEED THE WRAPPING FUNCTION BUT I DO
          elem.onmouseover = function() {hover(elem);};
          elem.onmouseout = function() { unhover() };
        });
        var hover = function(elem) {
          var tooltip = document.getElementById("hover");
          tooltip.style.display = "inline-block";
          if (elem.classList.contains("fa-lock")) {
            tooltip.innerText = "Unlock thread"
          } else if (elem.classList.contains("fa-unlock-alt")) {
            tooltip.innerText = "Lock thread"
          } else if (elem.classList.contains("fa-ban")) {
            tooltip.innerText = "Unsticky thread"
          } else if (elem.classList.contains("fa-trash")) {
            tooltip.innerText = "Delete thread"
          } else if (elem.classList.contains("fa-refresh")) {
            tooltip.innerText = "Move thread"
          } else {
            tooltip.innerText = "Sticky thread"
          }
          console.log(tooltip.innerText)
        }
        var move = function move(e) {
          var tooltip = document.getElementById("hover");
          tooltip.style.top = e.clientY + 5 + "px"
          tooltip.style.left = e.clientX + 5 + "px"
          console.log(tooltip.style.display)
        }
        var unhover = function() {
          document.getElementById("hover").style.display = "none";
        }
      }
    </script>
    <script src="/static/common.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/dangeru.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static/favicon.ico">
  </head>
  <body onLoad='ol();'>
    <div id="boardcontainer">
      <% settings.config['boards'].each do |key, array| %>
        <a style='display: inline-block;' class="boarda" href="/<%= key %>">/<%= key %>/</a>
      <% end %>
    </div>
    <div id="hover" style="display: none;"></div>
  <div id="sitecorner" style="text-align: center;">
    <a href="javascript:location.reload();"><img src="<%= banner %>" alt="danger/u/"></a>
    <span onClick='newThread()' id="newthread">Start a new thread</span>
    <div id="draggable" class="ui-widget-content">
      <form action="/post" method="post" name="newthread">
        <input style='display: none;' type='text' name='board' id='board' value='<%= path %>' />
        <div class="comment">Title</div>
        <input type="text" name="title" id="title" placeholder="Title" />
        <div class="comment">Comment</div>
        <textarea name="comment" id="comment"></textarea>
        <input type="submit" id="submit" name="submit" value="Send" style="float: right;" />
        <div id="wordcount" class="comment" style="float: left;">0/500</div><br />
      </form>
    </div>

    <hr>
    <% con.query("SELECT post_id, title, ip, is_locked, sticky, COALESCE(parent, post_id) AS effective_parent, COUNT(*)-1 AS number_of_replies FROM posts WHERE board = '#{con.escape(path)}' GROUP BY effective_parent ORDER BY (-1 * sticky), post_id DESC LIMIT 20 OFFSET #{offset.to_s};").each do |res| %>
      <% extras = "" %>
      <% if res["is_locked"] == 1 then extras += 'color: grey;' end %>
      <% if res["sticky"] == 1 then extras += 'color: #006400;' end %>
      <a style="display: inline-block; <%= extras %>" data-replies="<%= res["number_of_replies"] %>" href="/<%= path %>/thread/<%= res["post_id"] %>"><%= Sanitize.clean(res["title"]) %></a>
      <% if moderator %>
        <% if res["is_locked"] == 0 %>
          <i class="fa fa-unlock-alt" aria-hidden="true" onClick='lockPost(<%= res["post_id"] %>)'></i>
        <% else %>
          <i class="fa fa-lock" aria-hidden="true" onClick='unlockPost(<%= res["post_id"] %>)'></i>
        <% end %>

        <%# Sticky / Unsticky post %>
        <% if res["sticky"] == 0 %>
          <i class="fa fa-thumb-tack" aria-hidden="true" onClick='stickyPost(<%= res["post_id"] %>)'></i>
        <% else %>
          <i class="fa fa-ban" aria-hidden="true" onClick='unstickyPost(<%= res["post_id"] %>)'></i>
        <% end %>
        <i class="fa fa-trash" aria-hidden="true" onClick='deletePost(<%= res["post_id"] %>)'></i>
        <i class="fa fa-refresh" aria-hidden="true" onClick="window.location.replace('/move/<%= res['post_id'] %>');"></i>
        <a style="display: inline-block; font-size: 50%;" href="/ip/<%= res["ip"] %>"><%= res["ip"] %></a>
      <% end %>
      <br />
    <% end %>

    <div id="pagecount_container">
      <% con.query("SELECT COUNT(*) AS count FROM posts WHERE parent IS NULL AND board = '#{con.escape(path)}'").each do |res| ((res["count"]/20)+1).times do |i| %>
        <a href="/<%= path %>?page=<%= i.to_s %>" id="pagecount"><%= (i + 1).to_s %></a>
      <% end end %>
    </div>
  </div>
  <footer class="comment" style="font-size: xx-small; text-align: center;">
    <small>Awoo <%= settings.awoo_version %></small>
  </footer>
  </body>
</html>
