<!DOCTYPE HTML>
<html>
  <head>
    <title>/<%= settings.config['boards'][path]['name'] %>/ - <%= settings.config['boards'][path]['desc'] %></title>
    <style>
    #draggable {
      width: 320px;
      height: auto;
      padding: 0.5em;
      background-color: black;
      border: 1px solid /* black */ white;
      display: none;
      text-align: center;
      color: white;
    }
    textarea {
      resize: none;
      width: 90%;
      height: 130px;
    }
    #hover {
      position: fixed;
      background-color: rgba(255, 255, 255, 0.6);
      font-size: 70%;
      border-radius: 4px;
      padding: 4px;
      color: black;
      z-index: 10;
    }
    </style>
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/jquery-ui.min.js"></script>
    <script>
      var newThread = function newThread() {
        if(document.getElementById("draggable").style.display == "none") {
          document.getElementById("draggable").style.display = "block";
          document.getElementById("newthread").innerHTML = "Close";
          $( "#draggable" ).draggable({containment: "window"});
          document.getElementById("title").style.width = document.getElementById("comment").clientWidth.toString() + "px";
        }
        else {
          document.getElementById("newthread").innerHTML = "Start a new thread";
          document.getElementById("draggable").style.display = "none";
        }
      }
      var ol = function ol() {
        document.getElementById("comment").addEventListener("keyup", function() {
          var comment = document.getElementById("comment");
          console.log(comment.value.length);
          var len = comment.value.length
          var wc = document.getElementById("wordcount");
          wc.style.color = len > 500 ? "red" : "inherit";
          wc.innerText = len + "/500";
        });
        Array.prototype.slice.call(document.getElementsByClassName("fa"), 0).forEach(function(elem) {
          elem.onmousemove = function(e) { move(e) }; // SHOULDN'T NEED THE WRAPPING FUNCTION BUT I DO
          elem.onmouseover = function() {hover(elem);};
          elem.onmouseout = function() { unhover() };
        });
        var hover = function(elem) {
          var tooltip = document.getElementById("hover");
          tooltip.style.display = "inline-block";
          if (elem.classList.contains("fa-lock")) {
            tooltip.innerText = "Unlock thread"
          } else if (elem.classList.contains("fa-unlock-alt")) {
            tooltip.innerText = "Lock thread"
          } else if (elem.classList.contains("fa-ban")) {
            tooltip.innerText = "Unsticky thread"
          } else if (elem.classList.contains("fa-trash")) {
            tooltip.innerText = "Delete thread"
          } else if (elem.classList.contains("fa-refresh")) {
            tooltip.innerText = "Move thread"
          } else {
            tooltip.innerText = "Sticky thread"
          }
          console.log(tooltip.innerText)
        }
        var move = function move(e) {
          var tooltip = document.getElementById("hover");
          tooltip.style.top = e.clientY + 5 + "px"
          tooltip.style.left = e.clientX + 5 + "px"
          console.log(tooltip.style.display)
        }
        var unhover = function() {
          document.getElementById("hover").style.display = "none";
        }
        <%= mobile_js %>
        if (typeof(unitedPropertiesIf) != "undefined" && unitedPropertiesIf.getProperty("userscript").toUpperCase() == "TRUE") {
          var s = document.createElement("script")
          s.src = "/static/awoo-catalog/awoo-catalog.user.js"
          window.GM_getValue = function(a, b) {
            res = unitedPropertiesIf.getProperty(a);
            if (res == "") return b;
            return a;
          }
          window.GM_setValue = function(a, b) {
            unitedPropertiesIf.setProperty(a, b);
          }
          document.getElementsByTagName("head")[0].appendChild(s);
        }
      }
    </script>
    <script src="/static/common.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/dangeru.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="http://<%= settings.config['hostname']%>/<%= path %>">
    <meta property="og:title" content="/<%= settings.config['boards'][path]['name'] %>/">
    <meta property="og:description" content="<%= settings.config['boards'][path]['desc'] %>">
    <link rel="shortcut icon" href="static/favicon.ico">
  </head>
  <body onLoad='ol();'>
    <div id="boardcontainer">
      <% settings.config['boards'].select do |key, val| session[:username] or not val["hidden"] end.each do |key, array| %>
        <a style='display: inline-block;' class="boarda" href="/<%= key %>">/<%= key %>/</a>
      <% end %>
    </div>
    <div id="hover" style="display: none;"></div>
  <div id="sitecorner" style="text-align: center;">
    <a href="javascript:location.reload();"><img src="<%= banner %>" alt="danger/u/"></a>
    <div id="boardtitle">/<%= settings.config['boards'][path]['name'] %>/ - <%= settings.config['boards'][path]['desc'] %></div>
    <span onClick='newThread()' id="newthread">Start a new thread</span>
    <div id="draggable" style="display: none" class="ui-widget-content">
      <form action="/post" method="post" name="newthread">
        <input style='display: none;' type='text' name='board' id='board' value='<%= path %>' />
        <% if path == "burg" %>
          <input style='display: none;' type='text' name='title' id='title' value='burg' />
          <input type="radio" value="burg" id="burg" name="comment" /><label style="color: white" for="burg">burg</label><br />
          <input type="radio" value="angry burg" id="angry_burg" name="comment" /><label style="color: white" for="angry_burg">angry burg</label><br />
        <% else %>
          <div class="comment">Title</div>
          <input type="text" name="title" id="title" placeholder="Title" />
          <div class="comment">Comment</div>
          <textarea name="comment" id="comment"></textarea>
          <%# Janitors of at least one board can capcode on ANY board %>
          <% if session[:username] %>
            <br />
            <input type="checkbox" name="capcode" id="capcode" checked />
            <label style="color: white;" for="capcode">Post with capcode?</label>
            <br />
          <% end %>
          <div id="wordcount" class="comment" style="float: left;">0/500</div><br />
        <% end %>
        <input type="submit" id="submit" name="submit" value="Send" style="float: right;" /><br />
      </form>
    </div>
      <% if moderator %>
        <hr />
        <a href="/<%= path %>/word-filter">Edit word filters</a>
      <% end %>
    <hr />
    <%# Note that we COULD order by `(-1 * sticky), (SELECT MAX(p2.post_id) FROM posts p2 WHERE parent = post_id)` and we wouldn't need the extra `last_bumped` database column, but it would be more cpu/disk work on the database %>
    <% get_board(path, params, session, config).each do |res| %>
      <% classes = "" %>
      <% if res[:is_locked] then classes += " locked " end %>
      <% if res[:stickyness] then classes += ' sticky-' + res[:stickyness].to_s + ' ' end %>
      <% if path == "burg" then res[:title] = "burg" end %>
        <a style="display: inline-block;" data-replies="<%= res[:number_of_replies] %>" href="/<%= path %>/thread/<%= res[:post_id] %>" class="<%= classes %>"><%= Sanitize.clean(res[:title]) %></a>
      <% if moderator %>
        <% if res[:is_locked] %>
          <i class="fa fa-unlock-alt" aria-hidden="true" onClick='lockPost(<%= res[:post_id] %>)'></i>
        <% else %>
          <i class="fa fa-lock" aria-hidden="true" onClick='unlockPost(<%= res[:post_id] %>)'></i>
        <% end %>

        <%# Sticky / Unsticky post %>
        <% if not res[:sticky] %>
          <i class="fa fa-thumb-tack" aria-hidden="true" onClick='stickyPost(<%= res[:post_id] %>)'></i>
        <% else %>
          <i class="fa fa-ban" aria-hidden="true" onClick='unstickyPost(<%= res[:post_id] %>)'></i>
        <% end %>
        <i class="fa fa-trash" aria-hidden="true" onClick='deletePost(<%= res[:post_id] %>)'></i>
        <i class="fa fa-refresh" aria-hidden="true" onClick="window.location.replace('/move/<%= res[:post_id] %>');"></i>
        <a style="display: inline-block; font-size: 50%;" href="/ip/<%= res[:ip] %>"><%= res[:ip] %></a>
      <% end %>
      <br />
    <% end %>

    <div id="pagecount_container">
      <% con.query("SELECT COUNT(*) AS count FROM posts WHERE parent IS NULL AND board = '#{con.escape(path)}'").each do |res| ((res["count"]/20)+1).times do |i| %>
        <a href="/<%= path %>?page=<%= i.to_s %>" id="pagecount"><%= (i + 1).to_s %></a>
      <% end end %>
    </div>
  </div>
  <footer class="comment" style="font-size: xx-small; text-align: center;">
    <small>Awoo <%= settings.awoo_version %></small>
  </footer>
  </body>
</html>
