<!DOCTYPE HTML>
<html>
  <head>
    <title>/<%= settings.config['boards'][path]['name'] %>/ - <%= settings.config['boards'][path]['desc'] %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
      #draggable { width: 320px; height: auto; padding: 0.5em; background-color: white; border: 1px solid black; display: none;}
      textarea {resize: none; width: 312px; height: 130px;}
    </style>

    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>

    <script>
      var newThread = function newThread() {
        document.getElementById("draggable").style.display = "block";
        $( "#draggable" ).draggable({containment: "window"});
      }
      var ol = function ol() {
        document.getElementById("comment").addEventListener("keyup", function() {
          var comment = document.getElementById("comment");
          console.log(comment.value.length);
          var len = comment.value.length
          var wc = document.getElementById("wordcount");
          if(len > 500) {
            wc.style.color = "red";
          }
          else {
            wc.style.color = "black";
          }
          wc.innerText = len + "/500";
        });
      }
    </script>
  </head>
  <body onLoad='ol();'>
    <h1>/<%= settings.config['boards'][path]['name'] %>/</h1>
    <div><%= settings.config['boards'][path]['desc'] %></div>

    <button id="newthread" onClick='newThread();'>Start a new thread</button><br /><br />

    <div id="draggable" class="ui-widget-content">
      <form action="/post" method="post" name="newthread">
        <input style='display: none;' type='text' name='board' id='board' value='<%= path %>' />
        <div>Title</div>
        <input type="text" name="title" id="title" placeholder="Title" />
        <div>Comment</div>
        <textarea name="comment" id="comment"></textarea>
        <input type="submit" id="submit" name="submit" value="Send" style="float: right;" />
        <div id="wordcount">0/500</div>
      </form>
    </div>
    <%
      escaped = con.escape(path);
      con.query("SELECT post_id, title, COALESCE(parent, post_id) AS effective_parent, COUNT(*)-1 AS number_of_replies FROM posts WHERE board = '#{escaped}' GROUP BY effective_parent ORDER BY post_id;").each do |res|
    %>
      <a data-replies="<%= res["number_of_replies"] %>" href="/<%= path %>/thread/<%= res["post_id"] %>"><%= res["title"] %></a><br />
    <% end %>
    <br />
    <small>Awoo <%= settings.awoo_version %></small>

  </body>
</html>
