<!DOCTYPE HTML>
<html>
  <head>
    <title>/<%= settings.config['boards'][path]['name'] %>/ - <%= settings.config['boards'][path]['desc'] %></title>
    <style>
    #draggable {
      width: 320px;
      height: auto;
      padding: 0.5em;
      background-color: black;
      border: 1px solid /* black */ white;
      display: none;
      text-align: center;
      color: white;
    }
    textarea {
      resize: none;
      width: 90%;
      height: 130px;
    }
    </style>
    <script src="static/js/jquery-3.2.1.min.js"></script>
    <script src="static/js/jquery-ui.min.js"></script>

    <script>
      var newThread = function newThread() {
        document.getElementById("draggable").style.display = "block";
        $( "#draggable" ).draggable({containment: "window"});
      }
      var ol = function ol() {
        document.getElementById("comment").addEventListener("keyup", function() {
          var comment = document.getElementById("comment");
          console.log(comment.value.length);
          var len = comment.value.length
          var wc = document.getElementById("wordcount");
          wc.style.color = len > 500 ? "red" : "inherit";
          wc.innerText = len + "/500";
        });
      }
    </script>
    <script src="/static/common.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/dangeru.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static/favicon.ico">
  </head>
  <body onLoad='ol();'>
    <div id="boardcontainer">
      <% settings.config['boards'].each do |key, array| %>
        <a style='display: inline-block;' class="boarda" href="/<%= key %>">/<%= key %>/</a> 
      <% end %>
    </div>

  <div id="sitecorner" style="text-align: center;">
    <a href="javascript:location.reload();"><img src="<%= banner %>" alt="danger/u/"></a>
    <span onClick='newThread()' id="newthread">Start a new thread</span>
    <div id="draggable" class="ui-widget-content">
      <form action="/post" method="post" name="newthread">
        <input style='display: none;' type='text' name='board' id='board' value='<%= path %>' />
        <div>Title</div>
        <input type="text" name="title" id="title" placeholder="Title" />
        <div>Comment</div>
        <textarea name="comment" id="comment"></textarea>
        <input type="submit" id="submit" name="submit" value="Send" style="float: right;" />
        <div id="wordcount">0/500</div>
      </form>
    </div>

    <hr>
    <% con.query("SELECT post_id, title, ip, COALESCE(parent, post_id) AS effective_parent, COUNT(*)-1 AS number_of_replies FROM posts WHERE board = '#{con.escape(path)}' GROUP BY effective_parent ORDER BY post_id DESC LIMIT 20 OFFSET #{offset.to_s};").each do |res| %>
      <% if moderator %>
        <button onClick='deletePost(<%= res["post_id"] %>)'>-</button>
        <a style="display: inline-block; font-size: 50%;" href="/ip/<%= res["ip"] %>"><%= res["ip"] %></a>
      <% end %>
      <% extras = "" %>
      <% if res["is_locked"] then extras += "style='color: grey'" end %>
      <a style="display: inline-block;" <%= extras %> data-replies="<%= res["number_of_replies"] %>" href="/<%= path %>/thread/<%= res["post_id"] %>"><%= Sanitize.clean(res["title"]) %></a><br />
    <% end %>

    <div id="pagecount_container">
      <% con.query("SELECT COUNT(*) AS count FROM posts WHERE parent IS NULL AND board = '#{con.escape(path)}'").each do |res| ((res["count"]/20)+1).times do |i| %>
        <a href="/<%= path %>?page=<%= i.to_s %>" id="pagecount"><%= (i + 1).to_s %></a>
      <% end end %>
    </div>
  </div>
  <footer class="comment" style="font-size: xx-small; text-align: center;">
    <small>Awoo <%= settings.awoo_version %></small>
  </footer>
  </body>
</html>

