<!DOCTYPE HTML>
<HTML>
  <head>
    <title><%= Config.get["title"] %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="static/dangeru.css">
    <meta name="description" content="danger/u/ - dangerous opinions. danger/u/ is a textboard based off danger/u/ from VA-11 HALL-A Cyberpunk Bartender Action.">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <script>
      var ol = function ol() {
        <%= mobile_js %>
      }
    </script>
    <style>
      .index-links > a {
        font-size: 18px;
        border-bottom: 1px solid #404040;
        display: inline-block;
      }
      .index-links > a:hover {
        border-bottom: 1px solid white;
        text-decoration: none;
      }
    </style>
  </head>
  <body onLoad='ol()'>
    <img src="static/logo.png" alt="danger/u/" id="header" class="header-unbound">
    <div id="index-news">
      <span class="comment">Latest news:</span>
      <span class="redtext"><%= format_news(Config.get["news"]) %></span>
    </div>
    <br>
    <div id="maincontainer">
      <div id="index-boards">
        <!--
        <span class="redtext" style="text-decoration: underline;">General</span>
        -->
        <% Config.get['boards'].select do |key, val| session[:username] or not val["hidden"] end.each do |key, array| %>
          <a class="boarda comment-styled" href="/<%= key %>"><%= Config.get['boards'][key]['desc'] %></a>
        <% end %><br />
      </div>
      <div class="comment-styled boarda-margin index-links">
        <% query(con, "SELECT (SELECT COUNT(*) FROM posts WHERE parent IS NULL) AS ops, (SELECT COUNT(*) FROM posts) AS total, (SELECT COUNT(*) FROM archived_posts) AS archived, (SELECT SUM(number_of_posts) FROM archived_posts) AS archived_posts, (SELECT COUNT(*) FROM posts WHERE board = ? AND content = ?) + (SELECT SUM(COALESCE(burg_burg, 0)) FROM archived_posts) AS burg_burg, (SELECT COUNT(*) FROM posts WHERE board = ?) + (SELECT SUM(COALESCE(burg_total, 0)) FROM archived_posts) AS burg_total", "burg", "burg", "burg").each do |res| %>
          Currently serving <span style="font-weight: bold;"><%= res["ops"] %></span>
          threads bumped in the last 20 days, with <span style="font-weight: bold;"><%= res["total"] - res["ops"] %></span>
          replies, as well as <span style="font-weight: bold;"><%= res["archived"] %></span> <a href="/archive">archived threads</a>
          and <span style="font-weight: bold;"><%= (res["archived_posts"] - res["archived"]).to_i %></span>
          archived replies.
          <br /><br />
          <a class="boarda" href="/search">Search for posts</a>
          <br />
          <br />
          There are <span style="font-weight: bold;"><%= res["burg_burg"].to_i %></span>
          burgs and <span style="font-weight: bold;"><%= (res["burg_total"] - res["burg_burg"]).to_i %></span>
          angry burgs.
        <% end %>
      </div>
    </div>
    <footer class="comment">
      <%= Config.get["footer"] %>, <a href="https://github.com/dangeru/awoo/" class="footer">Awoo <%= settings.awoo_version %></a>
    </footer>
  </body>
</HTML>
