<!DOCTYPE HTML>
<HTML>
  <head>
    <title>Posts by IP address <%= addr %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/dangeru.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.min.css">
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/jquery-ui.min.js"></script>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <script src="/static/common.js"></script>
    <style>
      .ip-note {
        border-left: 2px solid grey;
      }
      .entry {
        padding-left: 10px;
      }
    </style>
    <%= erb :multiview_helper %>
    <script>
      $( function() {
        $("#datepicker").datepicker();
        <%= mobile_js %>
      });
      var submit_form = function submit_form(form, route) {
        var data = new FormData(form);
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4) {
              if (xhr.status != 200) {
                alert("errno = -EINVAL; return;\n\n" + xhr.responseText)
              }
              window.location.reload();
            }
        }
        xhr.open("POST", route);
        xhr.send(data);
      }
      var delete_all = function delete_all() {
        var str = Math.random().toString(36).substr(2, 8);
        var comments = [];
        if (confirm("ARE YOU REALLY SURE - THIS WILL DELETE ALL POSTS YOU CAN SEE") && prompt("Type " + str + " to confirm you want to delete all visible posts by this user. Posts on boards you do not moderate will not be deleted.") == str) {
          Array.prototype.slice.call(document.getElementsByClassName("comment"), 0).forEach(function(c) {
            if (c.id && c.id.indexOf("comment-") == 0) {
              var cid = c.id.replace("comment-", "");
              comments.push(cid);
            }
          })
        } else {
          return;
        }
        var done = 0;
        comments.forEach(function(id) {
          var xhr = new XMLHttpRequest();
          xhr.onreadystatechange = function() {
            if (xhr.readyState == 4) {
              if (xhr.status != 200) {
                alert("errno = -EINVAL; return;\n\n" + xhr.responseText)
              }
              done += 1;
              if (done == comments.length) {
                window.location.reload();
              }
            }
          };
          xhr.open("GET", "/delete/" + id);
          xhr.send();
        })
      }
    </script>
  </head>
  <body>
    <a href="../../"><img src="/static/logo.png" alt="danger/u/" id="header" class="header-unbound"></a>
    <br />
    <div id="maincontainer">
      <div class="title" class="red">Information for IP <%= Awoo.clean(addr) %></div>
      <% if has_permission(session, "ban") %>
        <form action="/ban/<%= addr %>" method="post" id="ban-form" style="display: inline-block;">
          <select id="board" name="board">
            <% session[:moderates].each do |board| %>
              <option value="<%= board %>"><%= board %></option>
            <% end %>
          </select>
          <input type="text" id="datepicker" name="date" placeholder="Date" class="special_styled"/>
          <input type="text" id="reason" name="reason" placeholder="Reason" class="special_styled"/>
        </form>
        <button onClick="submit_form(document.getElementById('ban-form'), '/ban/<%= Awoo.clean(addr) %>')" class="special_styled">Ban</button>
        <br />
      <% end %>
      <% boards = session[:moderates].map do |f| con.escape(f) end %>
      <% boards = "('" + boards.join("', '") + "')" %>
      <% query(con, "SELECT reason, board, date_of_unban FROM bans WHERE ip = ? AND board IN #{boards} AND date_of_unban > CURRENT_TIMESTAMP()", addr).each do |res| %>
        <% id = Digest::SHA256.hexdigest(res["board"] + res["reason"]) %>
        <h3 class="redtext">
          Banned from <%= res["board"] %> until <%= res["date_of_unban"].strftime '%c' %> for reason "<%= Awoo.clean(res["reason"]) %>"
          <form id="<%= id %>" action="/unban/<%= addr %>" method="post"><input type="hidden" name="board" value="<%= res["board"] %>" /></form>
          <% if has_permission(session, "ban") %>
            <button onClick="submit_form(document.getElementById('<%= id %>'), '/unban/<%= Awoo.clean(addr) %>')">Unban</button>
          <% end %>
        </h3>
      <% end %>
      <% if has_permission(session, "delete") %>
        <button onClick="delete_all()">Delete all posts</button>
      <% end %>
      <%# We're actually left joining the table `posts` on itself here to get the title of the OP the comment is replying to, if there is one %>
      <span id="hover" class="comment" style="display: none"></span>
      <% query(con, "SELECT posts.*, titles.title AS linked_title FROM posts LEFT JOIN posts titles ON posts.parent = titles.post_id WHERE posts.ip = ? AND posts.board IN #{boards}", addr).map do |res|
        r = make_metadata_from_hash(res, session)
        r[:linked_title] = res["linked_title"]
        r
      end.each do |res| %>
        <%= erb :multiview, :locals => {:board => res[:board], :res => res, :moderator => true} %>
      <% end %>
      <div class="title" class="red">IP Notes</div>
      <% query(con, "SELECT content, created, actor FROM ip_notes WHERE ip = ? ORDER BY created", addr).each do |res| %>
        <div style="font-size: 50%;">
          <div class="comment">
            <%= res["created"].strftime '%c' %>
            <% if has_permission(session, "introspect") then %>
              <% mod = res["actor"] %>
              Created by: <a style="display: inline-block;" href="/introspect/<%= mod %>"><%= mod %></a>
            <% end %>
          </div>
        </div>
        <div class="entry ip-note">
          <pre class="comment"><%= Awoo.clean(res["content"]).gsub("\n", "<br />") %></pre>
        </div>
        <br />
      <% end %>
      <form action="/ip_note/<%= Awoo.clean(addr) %>" method="post" id="ip-note-form">
        <textarea name="content" placeholder="New note for this IP"></textarea>
        <br />
      </form>
      <button onClick="submit_form(document.getElementById('ip-note-form'), '/ip_note/<%= Awoo.clean(addr) %>')" class="special_styled">Submit</button>
    </div>
    <footer class="comment">
      <%= Config.get["footer"] %>, <a href="https://github.com/dangeru/awoo/" class="footer">Awoo <%= settings.awoo_version %></a>
    </footer>
  </body>
</HTML>
