<!DOCTYPE HTML>
<HTML>
  <head>
    <title>Posts by IP address <%= addr %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/dangeru.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <script>
      var addr = <%= JSON.dump(addr) %>;
      var ban = function ban(board) {
        alert("You tried to ban " + addr + " from the board " + board + ", but it's not implemented yet");
      }
      var unban = function unban(board) {
        alert("You tried to unban " + addr + " from the board " + board + ", but it's not implemented yet");
      }
    </script>
    <script src="/static/common.js"></script>
<style>
.entry {
  border-left: 2px solid grey;
  padding-left: 10px;
}
</style>
  </head>
  <body>
    <img src="/static/logo.png" alt="danger/u/" style="width: 395px; height: 130px;">
    <br />
    <div id="maincontainer" style="overflow: hidden; color: white;">
      <h2>Information for IP <%= Sanitize.clean(addr) %></h2>
      <select id="board">
      <% session[:moderates].each do |board| %>
        <option value="<%= board %>"><%= board %></option>
      <% end %>
      </select>
      <button onClick='ban(document.getElementById("board").selectedOptions[0].value)'>Ban</button>
      <br />
      <% boards = session[:moderates].map do |f| con.escape(f) end %>
      <% boards = "('" + boards.join("', '") + "')" %>
      <% con.query("SELECT reason, board, date_of_unban FROM bans WHERE ip = '#{con.escape(addr)}' AND board IN #{boards} AND date_of_unban > CURRENT_TIMESTAMP()").each do |res| %>
        <h3 class="redtext">
          Banned from <%= res["board"] %> until <%= res["date_of_unban"].strftime '%c' %> for reason "<%= Sanitize.clean(res["reason"]) %>"
          <button onClick="unban('<%= res["board"] %>')">Unban</button>
        </h3>
      <% end %>
      <%# We're actually left joining the table `posts` on itself here to get the title of the OP the comment is replying to, if there is one %>
      <% con.query("SELECT posts.*, titles.title AS linked_title FROM posts LEFT JOIN posts titles ON posts.parent = titles.post_id WHERE posts.ip = '#{con.escape(addr)}' AND posts.board IN #{boards}").each do |res| %>
        <% if res["parent"] then %>
          Reply to
          <%# Links directly to highlight that reply in the thread %>
          <a style='display: inline-block;' href="/<%= res["board"] %>/thread/<%= res["parent"] %>#comment-<%= res["post_id"] %>">
            <%= Sanitize.clean(res["linked_title"]) %>
          </a>
        <% else %>
          OP with title <a style='display: inline-block;' href="/<%= res["board"] %>/thread/<%= res["post_id"] %>"><%= res["title"] %></a>
        <% end %>
        in <%= res["board"] %> on <%= res["date_posted"].strftime '%c' %>.
        <button onClick='deletePost(<%= res["post_id"] %>)'>Delete</button>
        <div class="entry">
          <%= Sanitize.clean(res["content"]).gsub("\n", "<br />") %>
        </div>
        <br />
      <% end %>
      <h2>IP Notes</h2>
      <% con.query("SELECT content, created FROM ip_notes WHERE ip = '#{con.escape(addr)}' ORDER BY created").each do |res| %>
        <div style="font-size: 50%;">
          <%= res["created"].strftime '%c' %>
        </div>
        <div class="entry">
          <%= Sanitize.clean(res["content"]).gsub("\n", "<br />") %>
        </div>
        <br />
      <% end %>
      <form action="/ip_note/<%= addr %>" method="post" id="ip-note-form">
        <textarea name="content" placeholder="New note for this IP"></textarea>
        <br />
        <button onClick="document.getElementById('ip-note-form').submit()">Submit</button>
      </form>
    </div>
    <footer class="comment" style="font-size: xx-small; text-align: center;">
      <small>Awoo <%= settings.awoo_version %></small>
    </footer>
  </body>
</HTML>

