<!doctype html>
<html>
  <head>
    <style>
      body {
        text-align: center;
        color: white;
      }
    </style>
    <link rel="stylesheet" href="/static/dangeru.css" />
    <link rel="shortcut icon" href="/static/favicon.ico">
    <style>
    .comment:hover {
      text-decoration: underline;
    }
    </style>
    <script>
      function showActions(id) {
        if(document.getElementById("actions-" + id).style.display == "none") {
          document.getElementById("actions-" + id).style.display = "block";
          document.getElementById(id).innerText = ">/" + id + "/<";
        }
        else {
          document.getElementById("actions-" + id).style.display = "none";
          document.getElementById(id).innerText = "/" + id + "/";
        }
      }
    </script>
  </head>
  <body>
    <div id="container_login">
      <a href="javascript:location.reload();"><img src="/static/logo.png" alt="danger/u/" id="modlogo"></a><br>
      <span id="title" class="redtext">[Welcome <%= Sanitize.clean(session[:username]) %>]</span>
      <br />
      <% if get_action_permission session, config, "introspect" %>
        <span class="redtext">[Welcome Supermaidmin.]</span><br /><br />
        <a href="/introspect">&gt;Begin introspection?&lt;</a>
        <br />
      <% end %>
      <span class="redtext">[You moderate:]</span><br />
      <% config["boards"].select do |board, v| session[:moderates].include? board end.each do |board, v| %>
        <span id="<%= board %>" onClick="showActions(this.id)" class="comment">/<%= board %>/</span>
        <div id="actions-<%= board %>" style="display: none;">
          <a href="/<%= board %>/word-filter">Edit word filters</a>
          <a href="/<%= board %>/rules">Edit rules</a>
          <a href="/<%= board %>/">Go to board</a>
        </div><br />
      <% end %>
      <br />
      <a href="/logout" class="redtext">[Log out]</a>
    </div>
  </body>
</html>
