<!doctype html>
<html>
  <head>
    <style>
      body {
        text-align: center;
        color: white;
      }
    </style>
    <link rel="stylesheet" href="/static/dangeru.css" />
    <link rel="shortcut icon" href="/static/favicon.ico">
    <script>
      function showActions(id) {
        if(document.getElementById("actions-" + id).style.display == "none") {
          document.getElementById("actions-" + id).style.display = "block";
          document.getElementById(id).innerText = ">/" + id + "/<";
        }
        else {
          document.getElementById("actions-" + id).style.display = "none";
          document.getElementById(id).innerText = "/" + id + "/";
        }
      }
    </script>
  </head>
  <body>
    <div id="container_login">
      <a href="/"><img src="/static/logo.png" alt="danger/u/" id="modlogo"></a><br>
      <span id="title" class="redtext">[Welcome <%= Awoo.clean(session[:username]) %>]</span>
      <br />
      <span class="redtext">[Your rank is: <%= allowed_capcodes(session)[0] %>]</span><br />
      <% if has_permission(session, "introspect") %>
        <br />
        <a href="/introspect">&gt;Begin introspection?&lt;</a>
        <br />
      <% end %>
      <% if has_permission(session, "edit_index_news") %>
        <a href="/edit_updates">&gt;Update the news?&lt;</a>
        <br />
      <% end %>
      <span class="redtext">[You moderate:]</span><br />
      <% Config.get["boards"].select do |board, v| session[:moderates].include? board end.each do |board, v| %>
        <span id="<%= board %>" onClick="showActions(this.id)" class="comment-styled a-like">/<%= board %>/</span>
        <div id="actions-<%= board %>" style="display: none;">
          <% if has_permission(session, "edit_wordfilters") %>
            <a href="/<%= board %>/word-filter">Edit word filters</a>
          <% end %>
          <% if has_permission(session, "edit_rules") %>
            <a href="/<%= board %>/rules">Edit rules</a>
          <% end %>
          <a href="/<%= board %>/">Go to board</a>
        </div><br />
      <% end %>
      <br />
      <a href="/logout" class="redtext">[Log out]</a>
    </div>
  </body>
</html>
