<!DOCTYPE HTML>
<HTML>
  <head>
    <title>Awoo - Move thread <%= post %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/dangeru.css">
  </head>
  <body>
    <img src="/static/logo.png" alt="danger/u/" style="width: 395px; height: 130px;">
    <br />
    <div id="maincontainer" style="overflow: hidden; color: white;">
      <h2>You're about to move thread <%= post %></h2>
      <form method="post" action="/move/<%= post %>">
        <%# should the moderator be able to only move threads between the board they moderate? if not change it to all boards. %>
        <div class="comment">Select destination</div>
        <select name="board" id="board">
          <% session[:moderates].each do |board| %>
            <option value="<%= board %>"><%= board %></option>
          <% end %>
        </select>
        <input type='submit' name='submit' value='Move' />
      </form>
    </div>
  </body>
</HTML>
