<!DOCTYPE HTML>
<HTML>
  <head>
    <title>Awoo - Move thread <%= post %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/dangeru.css">
  </head>
  <body>
    <img src="/static/logo.png" alt="danger/u/" style="width: 395px; height: 130px;">
    <br />
    <div id="maincontainer" style="overflow: hidden; color: white;">
      <div id="title">You're about to move thread <%= post %></div>
      <form method="post" action="/move/<%= post %>">
        <div class="comment">Select destination</div>
        <select name="board" id="board">
          <% boards.each do |board| %>
            <option value="<%= board %>"><%= board %></option>
          <% end %>
        </select>
        <input type='submit' name='submit' value='Move' />
      </form>
    </div>
  </body>
</HTML>
