<% if res[:parent] then %>
  <div class="comment">Reply to
  <%# Links directly to highlight that reply in the thread %>
  <a style='display: inline-block;' href="/<%= res[:board] %>/thread/<%= res[:parent] %>#comment-<%= res[:post_id] %>">
    <%= Sanitize.clean(res[:linked_title]) %>
  </a>
<% else %>
  <div class="comment">OP with title <a style='display: inline-block;' href="/<%= res[:board] %>/thread/<%= res[:post_id] %>"><%= res[:title] %></a>
<% end %>
in /<%= res[:board] %>/ on <%= (res[:date_posted] != 0) ? Time.at(res[:date_posted]).strftime('%c') : "???" %>.
</div>
<div class="entry">
  <%= erb :comment, :locals => {:board => res[:board], :res => res, :moderator => true} if res[:comment] %>
</div>
<br />
