<!DOCTYPE HTML>
<HTML>
  <head>
    <title>/<%= path %>/ - Rules</title>
    <link rel="stylesheet" type="text/css" href="/static/dangeru.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <script>
      function editRules() {
        document.getElementById("rules").style.display = "none";
        document.getElementById("editor").style.display = "block";
      }
      var ol = function ol() {
        <%= mobile_js %>
      }
    </script>
  </head>

  <body onLoad='ol()'>
    <div id="sitecorner">
      <img src="<%= banner %>" alt="danger/u/">
      <div id="title" style="text-align: center;">/<%= path %>/ - Rules</div>
      <pre class="comment" id="rules">
<%= Sanitize.clean(rules) %>
      </pre>
      <% if has_permission(session, "edit_rules") %>
        <form method="post" action="/<%= path %>/rules/edit" style="display:none;" id="editor">
          <textarea style="resize: none; width: 370px; height: 230px;" name="rules"><%= rules %></textarea>
          <input type="submit" name="submit" value="Change" class="special_styled" />
        </form>
        <a href="#" onClick="editRules();">Edit rules</a>
      <% end %>
  </div>
  </body>
</HTML>
