<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../static/dangeru.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/font-awesome.min.css">
    <link rel="shortcut icon" href="static/favicon.ico">
    <title>Thread <%= id %> on danger/<%= path %>/ Loading...</title>
    <script src="/static/common.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="http://<%= settings.config['hostname']%>/<%= path %>/<%= id %>">
<style>
.redtext {
  display: inline-block;
}
.selected {
  border: 2px solid gold;
}
#hover {
  position: fixed;
  z-index: 10;
  background-color: black;
  border: 2px solid gold;
}
</style>
        <script>
          var select = function select(id) {
            window.location.hash = "#"; // bugfix for webkit
            window.location.hash = "#comment-" + id.toString();
            var elems = document.getElementsByClassName("selected");
            for (var i = 0; i < elems.length; i++) {
              elems[i].classList.toggle("selected")
            }
            document.getElementById("comment-" + id.toString()).classList.add("selected")
          }
          var hover = function hover(id, hovered) {
            var elem = document.getElementById("comment-" + id.toString());
            document.getElementById("hover").innerHTML = elem.innerHTML;
            document.getElementById("hover").style.display = "inline-block";
            var hovered_elem = document.getElementById("comment-" + hovered.toString())
            hovered_elem.onmousemove = move;
          }
          var unhover = function unhover() {
            document.getElementById("hover").innerHTML = ""
            document.getElementById("hover").style.display = "none";
          }
          var move = function move(e) {
            document.getElementById("hover").style.top = e.clientY + 5 + "px";
            document.getElementById("hover").style.left = e.clientX + 5 + "px";
          }
          var ol = function ol() {
            if (window.location.hash.indexOf("comment-") == 1) {
              select(window.location.hash.split("comment-")[1]);
            }
        // TEST
        if (typeof(unitedPropertiesIf) != "undefined") {
          document.getElementById("sitecorner").style.margin = "0";
          document.getElementById("sitecorner").style.border = "none";
          document.getElementById("sitecorner").style.width = "100%";
          document.getElementById("sitecorner").style.padding = "0";
          document.getElementsByTagName("img")[0].style.width = "100%";
          document.getElementsByTagName("img")[0].style.height = "auto";
        }
            if (typeof(unitedPropertiesIf) != "undefined") {
              var id = <%= id %>
              unitedPropertiesIf.setProperty(board + ":" + id, total_number_of_posts.toString());
              var btn = document.createElement("button");
              if (unitedPropertiesIf.getProperty("userscript").toUpperCase() != "TRUE") return;
              var watched_threads = unitedPropertiesIf.getProperty("watched_threads")
              if (watched_threads.trim().length == 0) {
                watched_threads = [];
              } else {
                watched_threads = JSON.parse(watched_threads);
              }
              if (watched_threads.indexOf(id) >= 0) {
                btn.innerText = "Unwatch thread";
                btn.addEventListener("click", function() {
                  unitedPropertiesIf.toast("Not implemented yet, sorry. You're watching this thread forever.")
                });
              } else {
                btn.innerText = "Watch thread";
                btn.addEventListener("click", function() {
                  unitedPropertiesIf.setProperty("watched_threads", JSON.stringify(watched_threads.concat(id)));
                  unitedPropertiesIf.threadWatcherRefreshAll();
                  window.location.reload(); // hack to change the text on the button from "Watch" to "Unwatch Thread"
                });
              }
              document.getElementById("sitecorner").appendChild(btn);
            }
          }
          var submit_form = function submit_form(form, route) {
              var data = new FormData(form);
              var xhr = new XMLHttpRequest();
              xhr.onreadystatechange = function() {
                  if (xhr.readyState == 4) {
                      window.location.reload();
                  }
              }
              xhr.open("POST", route);
              xhr.send(data);
          }
        </script>
  </head>
  <body onLoad='ol();'>
    <div id="sitecorner">
      <a href="/<%= path %>"><img src="<%= banner %>" alt="danger/u/"></a>
      <span id="hover" class="comment" style="display: none"></span>
      <% last_date_modified = 0 %>
      <% i = 0 %>
      <% is_locked = false %>
      <% #con.query("SELECT * FROM posts WHERE parent = #{id.to_i} OR post_id = #{id.to_i} ORDER BY post_id").each do |res| %>
      <% get_thread_replies(id.to_i.to_s).each do |res| %>
        <% if i == 0 then %>
          <% is_locked = res[:is_locked] %>
          <% if path == "burg" then %>
            <div id="title">burg</div>
          <% else %>
            <div id="title"><%= Sanitize.clean(res[:title]) %></div>
          <% end %>
          <script>
            var board = <%= JSON.dump(res[:board]) %>;
            document.title = <%= JSON.dump(res[:title]) %> + " - danger/" + board + "/";
          </script>
          <%# I WILL MOVE IT LATER I PROMISE %>
          <meta property="og:title" content="<%= Sanitize.clean(res[:title]) %>">
          <meta property="og:description" content="<%= Sanitize.clean(res[:comment]) %>">
        <% end %>
        <div class="comment" id="comment-<%= res[:post_id] %>">
          <% if res[:capcode] then %>
            <div class="redtext">##Janitor:<%= res[:capcode] %>##</div><br>
          <% end %>
          <% if path == "burg" then %>
            <% if res[:comment] == "burg" then %>
              <img src="/static/burg.jpg" />
            <% else %>
              <img src="/static/angryburg.jpg" />
            <% end %>
            <% i += 1 %>
            </div> <%# close .comment div %>
            <% next %>
          <% end %>
          <% if moderator then %>
            <i class="fa fa-trash offset-left" aria-hidden="true" onClick='deletePost(<%= res[:post_id] %>)'></i>
            <a style="display: inline-block; font-size: 50%;" href="/ip/<%= res[:ip] %>"><%= res[:ip] %></a>
          <% end %>
          |
          <% res[:comment].split("\n").each do |line| %>
            <% line = line.chomp %>
            <%
              consecutive = 1
              j = 0
              line.split(">").each do |x|
                # If we haven't hit the first > yet, then display it normally (no red text)
                if j == 0
                  %><%= Sanitize.clean(x) %><%
                else
                  # If we've hit the second > in a row, and it's not immediately followed by a third >, it's a link to a thread
                  # either in the format >>1234 or >>/board/1234, where the first one must be in the current thread and the second
                  # one must be an OP on that board
                  if x.length > 0 and consecutive == 3
                    target = x.split(" ")[0].split("/")
                    if target.length == 1 then
                      # it's in the format >>1234
                      %><a class="redtext" onMouseOver="hover(<%= target[0].to_i.to_s %>, <%= res[:post_id] %>)" onMouseOut="unhover()" onClick="select(<%= target[0].to_i.to_s %>)">&gt;<%= Sanitize.clean(x) %></a><%
                    else
                      # it's in the format >>/board/1234, so extract `board` and `1234` and make the link
                      target_board = Sanitize.clean(target[1]).gsub("\"", "")
                      target_thread = target[2].to_i.to_s
                      href = "/" + target_board.to_s + "/thread/" + target_thread.to_s
                      %><a class="redtext" href="<%= href %>">&gt;<%= Sanitize.clean(x) %></a><%
                    end
                  elsif x.length > 0 and consecutive == 4 then
                    # If we've hit the third > in a row, and it's not immediately followed by a fourth >, it's a link to another board
                    # in the format >>/board/ or >>board
                    target_board_split = x.split(" ")[0].split("/")
                    # Assume >>/board/ at first
                    target_board = target_board_split[1]
                    if target_board_split.length == 1 then
                      # if there were no slashes in the first word, assume >>board
                      target_board = target_board_split[0]
                    end
                    # make the link
                    %><a class="redtext" href="/<%= target_board %>">&gt;<%= Sanitize.clean(x) %></a><%
                  else
                    # it's some other form of red text, just display it as red text
                    %><span class="redtext redtext-<%= consecutive %>">&gt;<%= Sanitize.clean(x) %></span><%
                  end
                end
                # calculations for the number of consecutive > characters
                if x.length == 0 then
                  consecutive += 1
                else
                  consecutive = 2
                end
                # counter, largely unused now that I have the `consecutive` variable
                j += 1
              end
            %>
            <br />
          <% end %>
        </div>
        <br />
        <% last_date_modified = res[:date_posted] %>
        <% i += 1 %>
      <% end %>

      <div style="font-size: 11px;" class="comment">
        Total number of posts: <%= i.to_s %>,
        <script>
          var total_number_of_posts = <%= i.to_s %>;
        </script>
        last modified on:
        <span id='date_last_modified'>
          <%= Time.new(last_date_modified).strftime '%c' %>
        </span>
      </div>
      <script>
        var d = new Date(parseInt(<%= JSON.dump(last_date_modified.to_s) %> + "000"));
        document.getElementById("date_last_modified").innerHTML = d.toString();
      </script>
      <br />
      <% if is_locked then %>
        <div id="lockedcontainer" style="text-align: center;">
          <div class="redtext">This thread is closed.</div>
          <% if moderator %>
            <i class="fa fa-lock" aria-hidden="true" onClick='unlockPost(<%= id.to_i.to_s %>)'></i>
          <% end %>
        </div>
      <% else %>
        <a href="javascript:location.reload();">Refresh</a>
        <form id="form" action='/reply' method='post' style="text-align: center;">
          <input type='text' style='display: none' name='board' id='board' value='<%= path %>' />
          <input type='text' style='display: none' name='parent' id='parent' value='<%= id %>' />
          <br />
          <%# Janitors of at least one board can capcode on ANY board %>
          <% if session[:username] %>
            <input type="checkbox" name="capcode" id="capcode" checked />
            <label style="color: white;" for="capcode">Post with capcode?</label>
            <br />
          <% end %>
          <% if path == "burg" %>
            <input type="radio" value="burg" id="burg" name="content" /><label style="color: white" for="burg">burg</label>
          <br />
            <input type="radio" value="angry burg" id="angry_burg" name="content" /><label style="color: white" for="angry_burg">angry burg</label>
            <br />
          <% else %>
            <textarea name='content' style="width: 100%;" placeholder='Reply'></textarea>
          <% end %>
          <!--
          <input type='submit' value="Submit" style="float: right;" /><br />
          -->
        </form>
        <button style="float: right;" onClick='submit_form(document.getElementById("form"), "/reply")'>Submit</button><br />
        <% if moderator %>
          <br />
          <i class="fa fa-unlock-alt" aria-hidden="true" style="display: block; text-align: center;" onClick='lockPost(<%= id.to_i.to_s %>)'></i>
        <% end %>
      <% end %>
    </div>
    <footer class="comment" style="font-size: xx-small; text-align: center;">
      <small>Awoo <%= settings.awoo_version %></small>
    </footer>
  </body>
</html>
